In [1]:
import pandas as pd
import numpy as np
import pathlib

pd.set_option('display.max_columns', None)

In [45]:
folder = r'C:\Users\ejmason\JupyterNotebooks\Temperature Data Scripts\Temp_Data_Prob'

In [51]:
import os
df_list = []
for file in os.listdir(folder):
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(folder,file), index_col=None, header=0)
        df_list.append(df)

In [52]:
df_all = pd.concat(df_list, axis=0, ignore_index=True)

In [57]:
df_128_all = df_all.loc[df_all['SITE_NUMBER']==128]

In [62]:
df_128_all_18 = df_128_all[['SITE_NUMBER','OBSERVATION_TIME','TMR_SUB_18']]

In [64]:
df_128_all_18.OBSERVATION_TIME = pd.to_datetime(df_128_all_18['OBSERVATION_TIME'])

C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [65]:
df_128_all_18['year'] = df_128_all_18.OBSERVATION_TIME.dt.year
df_128_all_18['month'] = df_128_all_18.OBSERVATION_TIME.dt.month

C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
pd.set_option('display.max_rows', None)

In [77]:
df_128_all_18_group = df_128_all_18.groupby(['SITE_NUMBER','year','month']).mean().reset_index()

In [81]:
df_128_all_18_group

     SITE_NUMBER  year  month  TMR_SUB_18
0            128  2003      1   30.859091
1            128  2003      2   31.474420
2            128  2003      3   28.155941
3            128  2003      4   37.174778
4            128  2003      5   54.594704
5            128  2003      6   60.512281
6            128  2003      7   69.485067
7            128  2003      8   64.191855
8            128  2003      9   54.696431
9            128  2003     10   43.714365
10           128  2003     11   32.500764
11           128  2003     12   24.654153
12           128  2004      1   15.229360
13           128  2004      2   25.728145
14           128  2004      3   29.658871
15           128  2004      4   36.332740
16           128  2004      5   56.247890
17           128  2004      6   64.617809
18           128  2004      7   70.938468
19           128  2004      8   70.345054
20           128  2004      9   55.880459
21           128  2004     10   42.099288
22           128  2004     11   33.019164
23           128  2004     12   30.118185
24           128  2005      1   21.675094
25           128  2005      2   21.244031
26           128  2005      3   30.569906
27           128  2005      4   41.131031
28           128  2005      5   57.513403
29           128  2005      6   63.819641
30           128  2005      7   67.707110
31           128  2005      8   65.489556
32           128  2005      9   55.125083
33           128  2005     10   41.756720
34           128  2005     11   27.295891
35           128  2005     12   26.371680
36           128  2006      1   19.562448
37           128  2006      2   21.624524
38           128  2006      3   23.793034
39           128  2006      4   37.283241
40           128  2006      5   51.732270
41           128  2006      6   62.098804
42           128  2006      7   65.819234
43           128  2006      8   59.184194
44           128  2006      9   52.725028
45           128  2006     10   41.651571
46           128  2006     11   17.649049
47           128  2006     12   23.641918
48           128  2007      1   18.265633
49           128  2007      2   23.941176
50           128  2007      3   14.116433
51           128  2007      4   35.654903
52           128  2007      5   50.166653
53           128  2007      6   60.294597
54           128  2007      7   65.158065
55           128  2007      8   62.124718
56           128  2007      9   54.718635
57           128  2007     10   39.288962
58           128  2007     11   34.077654
59           128  2007     12   27.431984
60           128  2009      1   14.297035
61           128  2009      2   19.080506
62           128  2009      3   24.545914
63           128  2009      4   35.863306
64           128  2009      5   53.914506
65           128  2009      6   61.451833
66           128  2009      7   68.187446
67           128  2009      8   61.557473
68           128  2009      9   53.797681
69           128  2009     10   43.081482
70           128  2009     11   28.897872
71           128  2009     12   23.983765
72           128  2010      1   13.675349
73           128  2010      2   28.238304
74           128  2010      3   29.298078
75           128  2010      4   36.760976
76           128  2010      5   54.176922
77           128  2010      6   61.318903
78           128  2010      7   60.554960
79           128  2010      8   59.829582
80           128  2010      9   53.835367
81           128  2010     10   39.646788
82           128  2010     11   32.891097
83           128  2010     12   18.339730
84           128  2012      1   10.228959
85           128  2012      2   25.020262
86           128  2012      3   23.630948
87           128  2012      4   39.254611
88           128  2012      5   49.555349
89           128  2012      6   60.315569
90           128  2012      7   60.604368
91           128  2012      8   60.590901
92           128  2012      9   50.966250
93           128  2012     10   37.569745
94           128  2012     11   22.451903
95           128  2012     12   10.823261
96           128  2013      1   10.561145
97           128  2013      2   25.141699
98           128  2013      3   27.251438
99           128  2013      4   33.737319
100          128  2013      5   49.561062
101          128  2013      6   67.259458
102          128  2013      7   67.954623
103          128  2013      8   63.757124
104          128  2013      9   52.934472
105          128  2013     10   42.511909
106          128  2013     11   32.643863
107          128  2013     12   19.531868
108          128  2014      1   29.135685
109          128  2014      2   22.517887
110          128  2014      3   28.508118
111          128  2014      4   36.791417
112          128  2014      5   59.118374
113          128  2014      6   59.603986
114          128  2014      7   65.750659
115          128  2014      8   61.685430
116          128  2014      9   53.771125
117          128  2014     10   38.556183
118          128  2014     11   33.042972
119          128  2014     12   31.944301
120          128  2015      1   28.957070
121          128  2015      2   22.517887
122          128  2015      3   28.508118
123          128  2015      4   36.757875
124          128  2015      5   59.118374
125          128  2015      6   64.141572
126          128  2015      7   64.942241
127          128  2015      8   61.685430
128          128  2015      9   53.771125
129          128  2015     10   38.556183
130          128  2015     11   32.417976
131          128  2016      1   30.770554
132          128  2016      2   30.696067
133          128  2016      3   31.450215
134          128  2016      4   41.503292
135          128  2016      5   52.155376
136          128  2016      6   62.714056
137          128  2016      7   65.093078
138          128  2016      8   60.076816
139          128  2016      9   54.798847
140          128  2016     10   39.830000
141          128  2016     11   33.908139
142          128  2016     12   23.242919
143          128  2017      1   17.045228
144          128  2017      2   21.663304
145          128  2017      3   18.020887
146          128  2017      4   34.862319
147          128  2017      5   45.041801
148          128  2017      6   54.781222
149          128  2017      7   60.284745
150          128  2017      8   59.605650
151          128  2017      9   50.956111
152          128  2017     10   41.099933
153          128  2017     11   29.012809
154          128  2017     12   28.333132

In [85]:
df_128_all_18_group_pivot = df_128_all_18_group.pivot(index='year', columns=['month'], values='TMR_SUB_18')

In [88]:
df_128_all_18_group_pivot.style.highlight_max(axis=0, color='green').highlight_min(axis=0, color='yellow')

In [2]:
# Get data
data = pd.read_csv(r'C:\Users\ejmason\Desktop\THIGNS\Temperature Data Scripts\TDP_2017_entire.csv')

In [3]:
# data to dataframe to organize structure
data = pd.DataFrame(data, columns=['SITE_NUMBER','OBSERVATION_TIME','REF_TEMP','AMBIENT_AIR_TEMP','IN_PAVEMENT_TEMP','INTERNAL_TEMP','BATTERY_VOLTAGE','TMR_PAV','TMR_SUB_0','TMR_SUB_3','TMR_SUB_6','TMR_SUB_9','TMR_SUB_12','TMR_SUB_18','TMR_SUB_24','TMR_SUB_30','TMR_SUB_36','TMR_SUB_42','TMR_SUB_48','TMR_SUB_54','TMR_SUB_60','TMR_SUB_66','TMR_SUB_72','TIMEZONE_FLAG'])

In [4]:
# drop unnecessary rows
data = data.drop(['REF_TEMP', 'IN_PAVEMENT_TEMP', 'INTERNAL_TEMP', 'BATTERY_VOLTAGE', 'TIMEZONE_FLAG'], axis=1)

#### This next block likely won't be necessary but the steps may be useful

In [5]:
# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup = data.drop(['IN_PAVEMENT_TEMP', 'TMR_PAV'], axis=1)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup[np.logical_or(diffgroup.diff(axis=1) == 0, diffgroup.diff(axis=1, periods=-1) == 0)] = np.nan

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup.head(20)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# data.head(20)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# frames = data.columns.difference(diffgroup.columns)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata = diffgroup.merge(data[frames], left_index=True, right_index=True, how='outer')

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# cols = newdata.columns

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata = newdata[['SITE_NUMBER','OBSERVATION_TIME','AMBIENT_AIR_TEMP','IN_PAVEMENT_TEMP','TMR_PAV','TMR_SUB_0','TMR_SUB_3','TMR_SUB_6','TMR_SUB_9','TMR_SUB_12','TMR_SUB_18','TMR_SUB_24','TMR_SUB_30','TMR_SUB_36','TMR_SUB_42','TMR_SUB_48','TMR_SUB_54','TMR_SUB_60','TMR_SUB_66','TMR_SUB_72']]

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata.isnull().sum()

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# data = newdata

Get the count and null values (which is 0, since the sensors won't produce a null value)

In [6]:
print(f'Total Count : {data.shape[0]}')
print(data.isnull().sum())

Total Count : 647660
SITE_NUMBER         0
OBSERVATION_TIME    0
AMBIENT_AIR_TEMP    0
TMR_PAV             0
TMR_SUB_0           0
TMR_SUB_3           0
TMR_SUB_6           0
TMR_SUB_9           0
TMR_SUB_12          0
TMR_SUB_18          0
TMR_SUB_24          0
TMR_SUB_30          0
TMR_SUB_36          0
TMR_SUB_42          0
TMR_SUB_48          0
TMR_SUB_54          0
TMR_SUB_60          0
TMR_SUB_66          0
TMR_SUB_72          0
dtype: int64

In [7]:
"""
replace all error values with np.nan or NaN 
(pandas/numpy's "null")
"""

data.replace(to_replace=['-9999.000000', 
                         '-9999.0', 
                         '-9999.00',
                         '-9999.000', 
                         -9999.00, 
                         -9999.000000, 
                         -9999.0,
                         -6999.0,
                         -6999.00,
                         -6999.000,
                         -6999.000000,
                         -9999.000], value=np.nan, inplace=True)

print(data.isnull().sum())

SITE_NUMBER             0
OBSERVATION_TIME        0
AMBIENT_AIR_TEMP    72010
TMR_PAV             35647
TMR_SUB_0           28903
TMR_SUB_3           28903
TMR_SUB_6           28903
TMR_SUB_9           28903
TMR_SUB_12          28903
TMR_SUB_18          28903
TMR_SUB_24          28903
TMR_SUB_30          28903
TMR_SUB_36          28903
TMR_SUB_42          28903
TMR_SUB_48          28903
TMR_SUB_54          28903
TMR_SUB_60          28903
TMR_SUB_66          28903
TMR_SUB_72          36962
dtype: int64

##### Many of the sensors have error codes that could be likely values, the only way to tell is that the values repeat themselves among sensor depth

In [8]:
# isolate sensor depth columns
sensors_df = data.iloc[:, 2:]

In [9]:
sensors_df.isnull().sum()

AMBIENT_AIR_TEMP    72010
TMR_PAV             35647
TMR_SUB_0           28903
TMR_SUB_3           28903
TMR_SUB_6           28903
TMR_SUB_9           28903
TMR_SUB_12          28903
TMR_SUB_18          28903
TMR_SUB_24          28903
TMR_SUB_30          28903
TMR_SUB_36          28903
TMR_SUB_42          28903
TMR_SUB_48          28903
TMR_SUB_54          28903
TMR_SUB_60          28903
TMR_SUB_66          28903
TMR_SUB_72          36962
dtype: int64

In [10]:
# isolate rows that have duplicates between columns
sensor_dup = sensors_df[np.logical_or(sensors_df.diff(axis=1) == 0, sensors_df.diff(axis=1, periods=-1) == 0)]

In [11]:
sensor_dup.shape[0]

647660

In [12]:
sensor_dup_clean = sensor_dup.dropna()
sensor_dup_clean.shape[0]

43

In [13]:
sensor_dup_clean.isnull().sum()

AMBIENT_AIR_TEMP    0
TMR_PAV             0
TMR_SUB_0           0
TMR_SUB_3           0
TMR_SUB_6           0
TMR_SUB_9           0
TMR_SUB_12          0
TMR_SUB_18          0
TMR_SUB_24          0
TMR_SUB_30          0
TMR_SUB_36          0
TMR_SUB_42          0
TMR_SUB_48          0
TMR_SUB_54          0
TMR_SUB_60          0
TMR_SUB_66          0
TMR_SUB_72          0
dtype: int64

#### replace all duplicated sensor values with nulls and merge to get matching dataframe to original dataframe

In [14]:
sensors_df[np.logical_or(sensors_df.diff(axis=1) == 0, sensors_df.diff(axis=1, periods=-1) == 0)] = np.nan

In [15]:
cols = data.iloc[:, :2]
cols

        SITE_NUMBER     OBSERVATION_TIME
0               101  2017-11-23-14-00-00
1               101  2017-11-23-15-00-00
2               101  2017-11-23-16-00-00
3               101  2017-11-23-17-00-00
4               101  2017-11-23-18-00-00
...             ...                  ...
647655          191  2017-11-18-19-00-00
647656          191  2017-11-18-20-00-00
647657          191  2017-11-18-21-00-00
647658          191  2017-11-18-22-00-00
647659          191  2017-11-18-23-00-00

[647660 rows x 2 columns]

In [16]:
df = sensors_df.merge(cols, left_index=True, right_index=True)

#### Organize Columns

In [17]:
df_cols = df.columns.tolist()

In [18]:
df_cols = df_cols[-2:] + df_cols[:-2]

In [19]:
df = df[df_cols]

In [20]:
df

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
0,101,2017-11-23-14-00-00,-7.60,-4.00,-0.22,1.76,4.64,6.98,8.96,12.56,15.98,19.58,22.46,25.34,28.40,30.92,32.36,33.26,33.98
1,101,2017-11-23-15-00-00,-7.78,-4.36,-0.22,1.76,4.64,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
2,101,2017-11-23-16-00-00,-7.60,-4.18,-0.22,1.76,4.46,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
3,101,2017-11-23-17-00-00,-7.96,-5.26,-0.40,1.76,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.80
4,101,2017-11-23-18-00-00,-6.88,-4.36,-0.40,1.58,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647655,191,2017-11-18-19-00-00,31.28,9.58,31.00,31.94,32.73,33.13,33.82,35.28,36.40,37.09,37.75,38.73,39.39,39.88,40.47,41.13,41.76
647656,191,2017-11-18-20-00-00,30.78,9.38,30.98,31.93,32.71,33.11,33.79,35.27,36.40,37.08,37.74,38.72,39.38,39.88,40.46,41.12,41.75
647657,191,2017-11-18-21-00-00,31.07,9.87,30.96,31.91,32.70,33.09,33.78,35.25,36.39,37.08,37.73,38.71,39.37,39.87,40.45,41.11,41.74
647658,191,2017-11-18-22-00-00,32.77,10.45,30.94,31.89,32.68,33.08,33.76,35.24,36.38,37.07,37.73,38.71,39.36,39.86,40.45,41.10,41.73
647659,191,2017-11-18-23-00-00,32.01,11.82,30.93,31.88,32.66,33.07,33.75,35.23,36.37,37.06,37.72,38.70,39.35,39.85,40.44,41.09,41.73

#### Back to the main data

In [109]:
# df.head().to_html()

#### Convert observation_time to DateTime

In [21]:
df.OBSERVATION_TIME = pd.to_datetime(df['OBSERVATION_TIME'])

In [22]:
df.isnull().sum()

SITE_NUMBER              0
OBSERVATION_TIME         0
AMBIENT_AIR_TEMP     73503
TMR_PAV              84773
TMR_SUB_0            90505
TMR_SUB_3            96808
TMR_SUB_6           100034
TMR_SUB_9           102469
TMR_SUB_12           97993
TMR_SUB_18           93819
TMR_SUB_24           94586
TMR_SUB_30           93690
TMR_SUB_36           92920
TMR_SUB_42           91904
TMR_SUB_48           91640
TMR_SUB_54           93023
TMR_SUB_60           96211
TMR_SUB_66           96099
TMR_SUB_72           86343
dtype: int64

### convert questionable values in each individual column to null "np.nan" or "NaN"

In [23]:
# next comment is secondary attempt that uses masking, but could not get to function
# data['TMR_PAV'] = np.where(data.loc[(data['TMR_PAV'] >= 150) | (data['TMR_PAV'] <= -50)],np.nan,data['TMR_PAV']
# TMR_PAV
df['TMR_PAV'] = np.where((df['TMR_PAV'] >= 110) | (df['TMR_PAV'] <= -30),np.nan,df['TMR_PAV'])

In [24]:
# AMBIENT_AIR_TEMP
df['AMBIENT_AIR_TEMP'] = np.where((df['AMBIENT_AIR_TEMP'] >= 105) | (df['AMBIENT_AIR_TEMP'] <= -55),
                                    np.nan,df['AMBIENT_AIR_TEMP'])

In [25]:
# IN_PAVEMENT_TEMP (Only if included)
# data['IN_PAVEMENT_TEMP'] = np.where((data['IN_PAVEMENT_TEMP'] >= 110) | (data['IN_PAVEMENT_TEMP'] <= -30),
#                                     np.nan,data['IN_PAVEMENT_TEMP'])

In [26]:
# TMR_SUB_0
df['TMR_SUB_0'] = np.where((df['TMR_SUB_0'] >= 110) | (df['TMR_SUB_0'] <= -25),
                                    np.nan,df['TMR_SUB_0'])

In [27]:
# TMR_SUB_3
df['TMR_SUB_3'] = np.where((df['TMR_SUB_3'] >= 100) | (df['TMR_SUB_3'] <= -20),
                                    np.nan,df['TMR_SUB_3'])

In [28]:
# TMR_SUB_6

df['TMR_SUB_6'] = np.where((df['TMR_SUB_6'] >= 95) | (df['TMR_SUB_6'] <= -15),
                                    np.nan,df['TMR_SUB_6'])

In [29]:
# TMR_SUB_9 

df['TMR_SUB_9'] = np.where((df['TMR_SUB_9'] >= 90) | (df['TMR_SUB_9'] <= -15),
                                    np.nan,df['TMR_SUB_9'])

In [30]:
# TMR_SUB_12
df['TMR_SUB_12'] = np.where((df['TMR_SUB_12'] >= 85) | (df['TMR_SUB_12'] <= -10),
                                    np.nan,df['TMR_SUB_12'])

In [31]:
# TMR_SUB_18
df['TMR_SUB_18'] = np.where((df['TMR_SUB_18'] >= 85) | (df['TMR_SUB_18'] <= -10),
                                    np.nan,df['TMR_SUB_18'])

In [32]:
# TMR_SUB_24
df['TMR_SUB_24'] = np.where((df['TMR_SUB_24'] >= 85) | (df['TMR_SUB_24'] <= -10),
                                    np.nan,df['TMR_SUB_24'])

In [33]:
# TMR_SUB_30
df['TMR_SUB_30'] = np.where((df['TMR_SUB_30'] >= 80) | (df['TMR_SUB_30'] <= -5),
                                    np.nan,df['TMR_SUB_30'])

In [34]:
# TMR_SUB_36
df['TMR_SUB_36'] = np.where((df['TMR_SUB_36'] >= 80) | (df['TMR_SUB_36'] <= -5),
                                    np.nan,df['TMR_SUB_36'])

In [35]:
# TMR_SUB_42
df['TMR_SUB_42'] = np.where((df['TMR_SUB_42'] >= 75) | (df['TMR_SUB_42'] <= 0),
                                    np.nan,df['TMR_SUB_42'])

In [36]:
# TMR_SUB_48
df['TMR_SUB_48'] = np.where((df['TMR_SUB_48'] >= 70) | (df['TMR_SUB_48'] <= 0),
                                    np.nan,df['TMR_SUB_48'])

In [37]:
# TMR_SUB_54
df['TMR_SUB_54'] = np.where((df['TMR_SUB_54'] >= 70) | (df['TMR_SUB_54'] <= 5),
                                    np.nan,df['TMR_SUB_54'])

In [38]:
# TMR_SUB_60
df['TMR_SUB_60'] = np.where((df['TMR_SUB_60'] >= 70) | (df['TMR_SUB_60'] <= 5),
                                    np.nan,df['TMR_SUB_60'])

In [39]:
# TMR_SUB_66
df['TMR_SUB_66'] = np.where((df['TMR_SUB_66'] >= 65) | (df['TMR_SUB_66'] <= 10),
                                    np.nan,df['TMR_SUB_66'])

In [40]:
# TMR_SUB_72
df['TMR_SUB_72'] = np.where((df['TMR_SUB_72'] >= 65) | (df['TMR_SUB_72'] <= 10),
                                    np.nan,df['TMR_SUB_72'])

In [41]:
# Verify null values and compare with original dataFrame isnull().sum() values which should have been 0
df.isnull().sum()

SITE_NUMBER              0
OBSERVATION_TIME         0
AMBIENT_AIR_TEMP     73617
TMR_PAV             136489
TMR_SUB_0           102263
TMR_SUB_3            97439
TMR_SUB_6           100734
TMR_SUB_9           103288
TMR_SUB_12          101158
TMR_SUB_18           94687
TMR_SUB_24           95062
TMR_SUB_30           94315
TMR_SUB_36           93424
TMR_SUB_42           92717
TMR_SUB_48           93135
TMR_SUB_54           94256
TMR_SUB_60           96911
TMR_SUB_66           97861
TMR_SUB_72           87587
dtype: int64

In [42]:
df['year'] = df.OBSERVATION_TIME.dt.year

In [43]:
df['month'] = df.OBSERVATION_TIME.dt.month

In [44]:
df

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month
0,101,2017-11-23 14:00:00+00:00,-7.60,-4.00,-0.22,1.76,4.64,6.98,8.96,12.56,15.98,19.58,22.46,25.34,28.40,30.92,32.36,33.26,33.98,2017,11
1,101,2017-11-23 15:00:00+00:00,-7.78,-4.36,-0.22,1.76,4.64,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98,2017,11
2,101,2017-11-23 16:00:00+00:00,-7.60,-4.18,-0.22,1.76,4.46,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98,2017,11
3,101,2017-11-23 17:00:00+00:00,-7.96,-5.26,-0.40,1.76,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.80,2017,11
4,101,2017-11-23 18:00:00+00:00,-6.88,-4.36,-0.40,1.58,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.98,2017,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647655,191,2017-11-18 19:00:00+00:00,31.28,9.58,31.00,31.94,32.73,33.13,33.82,35.28,36.40,37.09,37.75,38.73,39.39,39.88,40.47,41.13,41.76,2017,11
647656,191,2017-11-18 20:00:00+00:00,30.78,9.38,30.98,31.93,32.71,33.11,33.79,35.27,36.40,37.08,37.74,38.72,39.38,39.88,40.46,41.12,41.75,2017,11
647657,191,2017-11-18 21:00:00+00:00,31.07,9.87,30.96,31.91,32.70,33.09,33.78,35.25,36.39,37.08,37.73,38.71,39.37,39.87,40.45,41.11,41.74,2017,11
647658,191,2017-11-18 22:00:00+00:00,32.77,10.45,30.94,31.89,32.68,33.08,33.76,35.24,36.38,37.07,37.73,38.71,39.36,39.86,40.45,41.10,41.73,2017,11
647659,191,2017-11-18 23:00:00+00:00,32.01,11.82,30.93,31.88,32.66,33.07,33.75,35.23,36.37,37.06,37.72,38.70,39.35,39.85,40.44,41.09,41.73,2017,11

In [133]:
collist = df.columns.tolist()

In [135]:
col1 = collist[:2]

In [136]:
col2 = collist[-2:]

In [137]:
col3 = collist[2:-2]

In [138]:
colcombine = col1 + col2 + col3

In [140]:
df = df[colcombine]

In [141]:
df

,SITE_NUMBER,OBSERVATION_TIME,year,month,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
0,101,2017-11-23 14:00:00+00:00,2017,11,-7.60,-4.00,-0.22,1.76,4.64,6.98,8.96,12.56,15.98,19.58,22.46,25.34,28.40,30.92,32.36,33.26,33.98
1,101,2017-11-23 15:00:00+00:00,2017,11,-7.78,-4.36,-0.22,1.76,4.64,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
2,101,2017-11-23 16:00:00+00:00,2017,11,-7.60,-4.18,-0.22,1.76,4.46,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
3,101,2017-11-23 17:00:00+00:00,2017,11,-7.96,-5.26,-0.40,1.76,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.80
4,101,2017-11-23 18:00:00+00:00,2017,11,-6.88,-4.36,-0.40,1.58,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647655,191,2017-11-18 19:00:00+00:00,2017,11,31.28,9.58,31.00,31.94,32.73,33.13,33.82,35.28,36.40,37.09,37.75,38.73,39.39,39.88,40.47,41.13,41.76
647656,191,2017-11-18 20:00:00+00:00,2017,11,30.78,9.38,30.98,31.93,32.71,33.11,33.79,35.27,36.40,37.08,37.74,38.72,39.38,39.88,40.46,41.12,41.75
647657,191,2017-11-18 21:00:00+00:00,2017,11,31.07,9.87,30.96,31.91,32.70,33.09,33.78,35.25,36.39,37.08,37.73,38.71,39.37,39.87,40.45,41.11,41.74
647658,191,2017-11-18 22:00:00+00:00,2017,11,32.77,10.45,30.94,31.89,32.68,33.08,33.76,35.24,36.38,37.07,37.73,38.71,39.36,39.86,40.45,41.10,41.73
647659,191,2017-11-18 23:00:00+00:00,2017,11,32.01,11.82,30.93,31.88,32.66,33.07,33.75,35.23,36.37,37.06,37.72,38.70,39.35,39.85,40.44,41.09,41.73

### Begin Grouping

#### 128	Seward Highway @ Moose Pass MP 32	MOP

In [152]:
df_128 = df.loc[df['SITE_NUMBER']==128]

In [157]:
col128 = df.columns.tolist()

In [163]:
col128_1 = col128[:4]
col128_1

['SITE_NUMBER', 'OBSERVATION_TIME', 'year', 'month']

In [164]:
col128_2 = col128[11:12]
col128_2

['TMR_SUB_18']

In [165]:
col128list = col128_1 + col128_2

In [166]:
df_128 = df_128[col128list]

In [167]:
df_128

        SITE_NUMBER          OBSERVATION_TIME  year  month  TMR_SUB_18
221             128 2017-11-18 10:00:00+00:00  2017     11       26.09
222             128 2017-11-18 11:00:00+00:00  2017     11       26.04
904             128 2017-11-16 12:00:00+00:00  2017     11       28.35
905             128 2017-11-16 13:00:00+00:00  2017     11       28.25
906             128 2017-11-16 14:00:00+00:00  2017     11       28.14
...             ...                       ...   ...    ...         ...
644853          128 2017-12-16 22:00:00+00:00  2017     12       30.82
644854          128 2017-12-16 23:00:00+00:00  2017     12       30.82
644855          128 2017-12-17 00:00:00+00:00  2017     12       30.83
644856          128 2017-12-17 01:00:00+00:00  2017     12       30.83
644857          128 2017-12-17 02:00:00+00:00  2017     12       30.83

[8746 rows x 5 columns]

In [168]:
df_128.groupby(['SITE_NUMBER', 'month']).mean()

                   year  TMR_SUB_18
SITE_NUMBER month
128         1      2017   16.996441
            2      2017   21.662191
            3      2017   18.007736
            4      2017   35.155282
            5      2017   45.041801
            6      2017   54.781222
            7      2017   60.284745
            8      2017   59.688257
            9      2017   50.932304
            10     2017   41.099933
            11     2017   29.012809
            12     2017   28.311951

In [ ]:
df_128_mean = df_128.groupby(['SITE_NUMBER', 'month']).mean().reset_index()

In [ ]:
df_128_mean.TMR_SUB_18.plot(legend=True, title='Moose Pass')

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(data=df_128_mean, x="month", y="TMR_SUB_18").set_title("Moose Pass Station");

In [ ]:
# Kaggle API - pip install kaggle or conda install -c conda-forge kaggle

from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [ ]:
# download data - this will download the indicated file to the workspace in which the notebook resides

dataset = 'erikjamesmason/akdot-tdp-temperature-data-probes'
datafile = 'TDP_2002_entire.csv'
api.dataset_download_files(dataset,datafile)

In [142]:
datagroup_site = df.groupby(['SITE_NUMBER', 'OBSERVATION_TIME'])

In [143]:
dg_site_mean = datagroup_site.mean()

In [144]:
datagroup_site

In [145]:
datagroup_site.head()

,SITE_NUMBER,OBSERVATION_TIME,year,month,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
0,101,2017-11-23 14:00:00+00:00,2017,11,-7.60,-4.00,-0.22,1.76,4.64,6.98,8.96,12.56,15.98,19.58,22.46,25.34,28.40,30.92,32.36,33.26,33.98
1,101,2017-11-23 15:00:00+00:00,2017,11,-7.78,-4.36,-0.22,1.76,4.64,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
2,101,2017-11-23 16:00:00+00:00,2017,11,-7.60,-4.18,-0.22,1.76,4.46,6.80,8.78,12.56,15.98,19.58,22.46,25.16,28.22,30.92,32.36,33.26,33.98
3,101,2017-11-23 17:00:00+00:00,2017,11,-7.96,-5.26,-0.40,1.76,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.80
4,101,2017-11-23 18:00:00+00:00,2017,11,-6.88,-4.36,-0.40,1.58,4.46,6.80,8.60,12.38,15.98,19.58,22.46,25.16,28.22,30.74,32.36,33.26,33.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647655,191,2017-11-18 19:00:00+00:00,2017,11,31.28,9.58,31.00,31.94,32.73,33.13,33.82,35.28,36.40,37.09,37.75,38.73,39.39,39.88,40.47,41.13,41.76
647656,191,2017-11-18 20:00:00+00:00,2017,11,30.78,9.38,30.98,31.93,32.71,33.11,33.79,35.27,36.40,37.08,37.74,38.72,39.38,39.88,40.46,41.12,41.75
647657,191,2017-11-18 21:00:00+00:00,2017,11,31.07,9.87,30.96,31.91,32.70,33.09,33.78,35.25,36.39,37.08,37.73,38.71,39.37,39.87,40.45,41.11,41.74
647658,191,2017-11-18 22:00:00+00:00,2017,11,32.77,10.45,30.94,31.89,32.68,33.08,33.76,35.24,36.38,37.07,37.73,38.71,39.36,39.86,40.45,41.10,41.73
647659,191,2017-11-18 23:00:00+00:00,2017,11,32.01,11.82,30.93,31.88,32.66,33.07,33.75,35.23,36.37,37.06,37.72,38.70,39.35,39.85,40.44,41.09,41.73

In [146]:
dg_site_mean.head()

                                       year  month  AMBIENT_AIR_TEMP  TMR_PAV  \
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00  2017      1               NaN      NaN
            2017-01-01 01:00:00+00:00  2017      1               NaN      NaN
            2017-01-01 02:00:00+00:00  2017      1               NaN      NaN
            2017-01-01 03:00:00+00:00  2017      1               NaN      NaN
            2017-01-01 04:00:00+00:00  2017      1               NaN      NaN

                                       TMR_SUB_0  TMR_SUB_3  TMR_SUB_6  \
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00      15.25      16.45      17.87
            2017-01-01 01:00:00+00:00      15.29      16.42      17.79
            2017-01-01 02:00:00+00:00      15.31      16.40      17.74
            2017-01-01 03:00:00+00:00      15.28      16.38      17.69
            2017-01-01 04:00:00+00:00      15.22      16.34      17.65

                                       TMR_SUB_9  TMR_SUB_12  TMR_SUB_18  \
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00      19.21       20.69       22.67
            2017-01-01 01:00:00+00:00      19.14       20.65       22.67
            2017-01-01 02:00:00+00:00      19.08       20.61       22.67
            2017-01-01 03:00:00+00:00      19.03       20.57       22.67
            2017-01-01 04:00:00+00:00      18.98       20.53       22.67

                                       TMR_SUB_24  TMR_SUB_30  TMR_SUB_36  \
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00       24.83       27.01       29.03
            2017-01-01 01:00:00+00:00       24.83       27.01       29.03
            2017-01-01 02:00:00+00:00       24.85       27.01       29.04
            2017-01-01 03:00:00+00:00       24.85       27.02       29.03
            2017-01-01 04:00:00+00:00       24.86       27.02       29.03

                                       TMR_SUB_42  TMR_SUB_48  TMR_SUB_54  \
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00       30.48       31.56       32.01
            2017-01-01 01:00:00+00:00       30.49       31.55       32.01
            2017-01-01 02:00:00+00:00       30.48       31.55       32.00
            2017-01-01 03:00:00+00:00       30.48       31.55       32.01
            2017-01-01 04:00:00+00:00       30.48       31.54       32.01

                                       TMR_SUB_60  TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
8           2017-01-01 00:00:00+00:00       32.68       33.24       34.14
            2017-01-01 01:00:00+00:00       32.68       33.24       34.13
            2017-01-01 02:00:00+00:00       32.68       33.25       34.13
            2017-01-01 03:00:00+00:00       32.67       33.24       34.13
            2017-01-01 04:00:00+00:00       32.68       33.24       34.13

In [148]:
df.groupby(['SITE_NUMBER','month']).mean()

                   year  AMBIENT_AIR_TEMP    TMR_PAV  TMR_SUB_0  TMR_SUB_3  \
SITE_NUMBER month
8           1      2017               NaN        NaN   7.799171   8.974162
            2      2017               NaN        NaN  18.152997  18.486233
            3      2017               NaN        NaN  20.152892  20.442984
            4      2017               NaN        NaN  44.927894  43.332109
            5      2017               NaN        NaN  55.082409  53.615745
...                 ...               ...        ...        ...        ...
313         9      2017         49.970639  52.404556  52.007983  52.248226
            10     2017         37.551129  36.894334  37.303203  38.175957
            11     2017         17.477171  24.198774  25.121072  26.405939
            12     2017         24.704762  24.324342  24.728883  25.488840
323         12     2017         14.755532  17.246825  18.685595  20.246786

                   TMR_SUB_6  TMR_SUB_9  TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER month
8           1      10.416411  11.978870   13.932957   17.040903   20.216653
            2      19.159352  19.989801   21.111876   22.622515   24.286771
            3      20.993068  21.641549   22.514490   23.704825   25.091922
            4      41.907914  40.621961   39.310695   36.742281   34.831311
            5      52.233216  50.867736   49.474651   46.509288   43.882849
...                      ...        ...         ...         ...         ...
313         9      52.436568  52.681266   52.627479   52.822450   52.974130
            10     38.914351  39.492124   39.801031   40.785580   41.690565
            11     27.503083  28.428417   28.925153   30.298472   31.624764
            12     26.278874  26.922610   27.186071   28.163654   29.103180
323         12     21.799325  22.976627   23.669921   25.412500   27.118373

                   TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  TMR_SUB_48  TMR_SUB_54  \
SITE_NUMBER month
8           1       23.301694   26.214073   28.172581   29.469906   30.614825
            2       25.858973   27.294033   28.381548   29.044792   29.604196
            3       26.371761   27.475188   28.377970   28.928804   29.370121
            4       33.304304   32.029722   31.561738   31.393524   31.212173
            5       41.417003   38.705511   36.597849   34.770578   33.410351
...                       ...         ...         ...         ...         ...
313         9       53.027741   53.108399   52.589000   53.076225   53.165298
            10      42.455699   43.358405   43.647851   44.855336   45.544684
            11      32.797514   34.153357   34.579805   35.942028   36.847375
            12      29.993275   30.993874   31.357804   32.548309   33.297767
323         12      28.666071   30.323333   31.036944   32.228929   32.928730

                   TMR_SUB_60  TMR_SUB_66  TMR_SUB_72
SITE_NUMBER month
8           1       31.681411   32.350699   33.210941
            2       30.385551   31.050015   31.930967
            3       30.040457   30.597245   31.437608
            4       31.308795   31.301145   31.615500
            5       32.646595   32.132517   32.206581
...                       ...         ...         ...
313         9       52.992632   52.631333   52.260444
            10      45.990872   46.363664   46.653986
            11      37.597375   38.336458   38.942597
            12      33.899986   34.518227   35.044087
323         12      33.470952   34.019365   34.478730

[940 rows x 18 columns]

In [ ]:
dg_site_max = datagroup_site.max()

In [ ]:
dg_site_max.head()

In [ ]:
dg_site_min = datagroup_site.min()

In [ ]:
dg_site_min.head()

In [ ]:
datagroup_site2 = data.groupby(['SITE_NUMBER', 'OBSERVATION_TIME']).mean().reset_index()

In [ ]:
datagroup_site2.head()

In [ ]:
data.head()

In [ ]:
data.to_csv(r'C:\Users\ejmason\Desktop\THIGNS\Temperature Data Scripts\TDP_DF_Nulls_Update.csv', header=True)

In [ ]:
dg_site_min.to_csv(r'U:\Erik Planning\Coding\TDP_DF_Min.csv', header=True)

In [ ]:
dgs_stat = datagroup_site.agg(['min', 'max', 'mean'])

In [ ]:
dgs_stat.head()

In [ ]:
dgs_stat.to_csv(r'U:\Erik Planning\Coding\TDP_DF_test.csv', header=True)

In [ ]:
# dgs = datagroup_site.agg([np.mean, np.min, np.max, len ])

In [ ]:
# dgs

In [ ]:
# cols = data.columns

In [ ]:
# datagroup_site.describe()

In [ ]:
data.head()

In [ ]:
type(data)